src/config*
src/.fanout.ko.cmd
src/.fanout.o.cmd
src/.tmp_versions/
src/Module.symvers
src/brief.pdf
src/fanout.ko
src/fanout.mod.c
src/modules.order
src/rec/brief.pdf
*.mod.o.cmd
node_modules
images
bin/em-rec
*.o
*.dep
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
src/e1000e-3.0.4.1/src/
*.hex
*.ko
src/e1000e-3.0.4.1/src/e1000e.7.gz
