!!! 5
html
  head
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/screen.css')
  body.cameras
    #camtab.camtab
      embed(src='file:///dev/cam0', type='video/raw', width='640', height='480')
