extends layout

block content  
  nav
    ul
      li.active Cams
      li Report
      li Search
      li ELog
      
    p.datetime
  
  #sensors
    .GPS.inactive
      h1 GPS
      p#gps_holder
      p
        span.speed.value-field 0
        span  kn
        span.heading.value-field 0
        span  &deg;
      p.value.value-field.clickable warming up
      input(type='hidden', name='latlon_mode', id='latlon_mode', value='deg')

    .RFID.inactive
      h1 RFID
      p.value.value-field no scans yet
      p
        span.string_scans.value-field 0
        span  string 
        button#reset_string x
        span.trip_scans.value-field 0
        span  trip 
        button#reset_trip x

    .AD.inactive
      h1 PSI
      p#psi_holder
      p.value.value-field 0

    .SYS.inactive
      h1 DISK
        br
        span.diskNumber
      p#disk_holder
      p Time Left: 
        span.value-field.available calculating
        input(type='hidden', name='diskavail_mode', id='diskavail_mode', value='fake')

    #recording_status.warn.infobox-left
      h2 VIDEO NOT RECORDING

    #in_home_port.warn.infobox-left
      h2 IN HOME PORT

    #estimated.fail.infobox-right
      h2 ESTIMATED FIX
      
    #in_ferry_lane.fail.infobox-left
      h2 IN FERRY LANE

    #using_os_disk.fail.infobox-left
      h2 USING OS DISK

    #data_disk_full.fail.infobox-left
      h2 DATA DISK FULL

    #os_disk_full.fail.infobox-left
      h2 OS DISK FULL

    #no_recorder.fail.infobox-right
      h2 NO RECORDER RUNNING

    #no_response.fail.infobox-right
      h2 NO SERVER RESPONSE

  #main
    .tab-body.tab-cam
      .cameras
        p No cameras installed
    
    .tab-body.tab-report
      form.report
        h1 Compliance Report Form
        p <b>Issue type:</b>
          label
            input(type="radio", value="1", name="issue_type")
            |Monitoring equipment issue
          label
            input(type="radio", value="2", name="issue_type")
            |RFID tag scan issue
          label
            input(type="radio", value="3", name="issue_type")
            |Gear tangled with other traps
          label
            input(type="radio", value="4", name="issue_type")
            |Retrieved another vessel's gear
          label
            input(type="radio", value="5", name="issue_type")
            |Fished another vessel's gear
          label
            input(type="radio", value="6", name="issue_type")
            |Cut another vessel's gear
          label
            input(type="radio", value="7", name="issue_type")
            |Witnessed illegal activity
          label
            input(type="radio", value="8", name="issue_type")
            |Missing gear
          label
            input(type="radio", value="9", name="issue_type")
            |Suspect vandalism of this vessel's gear
          label
            input(type="radio", value="1", name="issue_type")
            |Picked up stray traps owned by this vessel
          label
            input(type="radio", value="9", name="issue_type")
            |Other

        p <b>Description:</b>
          br
          textarea(name='description', cols='65', rows='8')

      button.submit_report Submit Report

    .tab-body.tab-search
      form.search_rfid
        h1 Search for RFID
        p
          | List tags scanned 
          input(name='days', type='text', size='3')
          |  days ago 
          label#search_rfid_error.fail Please input a positive integer
      button.submit_rfid Search
      br
      br
      table.search_result
        tr
          th RFID
          th Location
          th Date
          th Soak Time
    
    .tab-body.tab-elog
 
  #system-info-button.clickable
    p System Info

  #system-info.clickable
    p
      span.label CPU Load: 
      span.value
        span.load
      span.label % + Temp:
      span.value
        span.cpu_percent
        % @ 
        span.temp_core0
        |  / 
        span.temp_core1
        &deg;C
    p
      span.label Uptime: 
      span.value
        span.uptime
      span.label Fix Quality:
      span.value
        span.fix_quality
    p
      span.label RAM Free: 
      span.value
        span.ram_free
        |  / 
        span.ram_total
        |  MB
      span.label Sats Used:
      span.value
        span.sats_used 0
    p
      span.label OS Free: 
      span.value
        span.os_free 
        |  / 
        span.os_total
        |  MB
      span.label Battery:
      span.value
        span.battery
        |  VDC
    p
      span.label Data Free: 
      span.value
        span.data_free
        |  / 
        span.data_total 
        |  MB      
      span.label Version:
      span.value
        !=versions

  #precheck-popup
    a.close.clickable
      //img.btn_close(src="close_pop.gif", alt="Close")
      span Close (x)
    h3 Pre-trip Check
    p.instructions Please verify the following items and click 
      | "I Approve" to log a successful pre-trip system check
    ul
     li 
       input(type="checkbox", id="pretrip_check_video", value="video") 
       label(for="pretrip_check_video") The video is clear
     li 
       input(type="checkbox", id="pretrip_check_gps", value="gps") 
       label(for="pretrip_check_gps") GPS is green 
     li 
       input(type="checkbox", id="pretrip_check_psi", value="psi") 
       label(for="pretrip_check_psi") PSI is green 
     if rfid && rfid == 'yes'
       li 
         input(type="checkbox", id="pretrip_check_rfid", value="rfid") 
         label(for="pretrip_check_rfid") RFID scanner is working
    button.submit_presystem_check(disabled="true") I agree
    pre#presystem_check_response
     Thank You for your System Check on "2016-04-29"

  //button#reload-video(type='button') Reload Video
  if show_camera_toggle && show_camera_toggle == 'yes'
    button#non-em(type='button') Non-EM Trip
  button#pre-check(type='button') Pre-trip Check
  button#night-mode(type='button') Night Mode

  script(src='/js/jquery-1.4.2.min.js')
  script(src='/js/util.js')
  script(src='/js/vms.js')
  script(src='/js/sensors.js')
  script(src='/js/raphael-min.js')
  script(src='/js/dial.js')
