/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, figure, footer, header, hgroup, nav, section { display:block; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
table { border-collapse:collapse; border-spacing:0; } /* tables still need cellspacing="0" in the markup */
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

/* fonts.css from the YUI Library: developer.yahoo.com/yui/ */
table { font-size: inherit; font: 100%; }
select, input, textarea { font: 99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }

html { 
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
}

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button, .clickable { cursor: pointer; }

/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/ 
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }

/**
  * VMS Application Styles
  * @author Tom K
  */
body {
  background-color: black;
  background-image: url(/wood.jpg);
  /*background-size: cover;*/
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.22;
}

#container { height: auto; overflow: hidden; }

nav {
  background: rgba(0,0,0,0.5);
  border-bottom: 2px solid #E0E0E0;
  height: 34px;
}

nav ul { float: left; list-style-type: none; }

nav ul li {
  color: #AFAFAF;
  float: left;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  margin: 0 2px;
  padding: 6px 10px 5px 10px;
  text-shadow: 0 0 3px #000000;
}

nav ul li.active {
  background-attachment: fixed;
  background-image: url(/wood-small.jpg);
  background-repeat: no-repeat;
  border: 2px solid #E0E0E0;
  border-bottom: none;
  color: #FFFFFF;
  margin: 0;
  padding: 4px 10px 6px 10px;
}

nav p.datetime {
  float: right;
  font-family: monospace;
  /*font-size: 24px;*/
  font-size: 22px;
  font-weight: bold;
  padding: 3px 10px 0 0;
  text-shadow: 0 0 3px #000;
}

#main { overflow: hidden; width: auto; }
#main embed { /*border-width: 0 0 2px 0; border-color: #E0E0E0; border-style: solid;*/ display: block; float: left; margin: 0; padding: 0; }
#main embed.thumbnail { }
#main h1 { font-size: 16px; margin-bottom: 8px; text-decoration: underline; }

#main .tab-body {
  display: none;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 36px;
}

#main .tab-cam .cameras {
    font-size: 22px;
    font-weight: bold;
    margin: 14px 0 0 18px;
    text-shadow: #000000 0 0 3px;
}

#main .tab-report, #main .tab-search { padding: 10px; }
#main .tab-report p { margin-top: 4px; margin-bottom: 12px; }
#main .tab-report label { display: block; margin: 6px 0 0 4px; }
#main .tab-report textarea { margin-top: 3px; }
#main .tab-search td, #main .tab-search th { border: 1px dotted #EEE; padding: 4px; }
#main .tab-search table { font-size: 14px; text-align: center; }
#main .tab-elog {position: absolute; top:36px; left:0; right:270px; bottom:0; }

#sensors {
  background-color: #404040;
  border-left: 2px solid #E0E0E0;
  float: right;
  width: 268px;
}

#sensors div {
  border-bottom: 2px solid #E0E0E0;
  padding: 6px;
  position: relative;
}

#sensors div.GPS, #sensors div.AD, #sensors div.SYS { text-align: center; }
#sensors div h1, #sensors div h2 { font-size: 19px; text-shadow: 0 0 4px #000; }

#sensors div h1 {
  position: absolute;
  top: 4px;
  right: 6px;
  text-align: right;
}

#sensors div h2 { text-align: center; margin: 0; line-height: 1.18; }

#sensors div .value-field {
  background-clip: padding-box;
  background-color: rgba(0,0,0,0.66);
  border-radius: 5px;
  border: 1px solid #000;
  color: white;
  display: inline-block; 
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 2px 5px;
}

#sensors div.GPS .speed { margin-left: 14px; }
#sensors div.GPS .heading { margin-left: 70px; }
#sensors div.RFID .trip_scans { margin-left: 32px; }

#main label#search_rfid_error,
#sensors div#in_ferry_lane,
#sensors div#recording_status,
#sensors div#in_home_port,
#sensors div#os_disk_full,
#sensors div#data_disk_full,
#sensors div#using_os_disk,
#sensors div#estimated,
#sensors div#no_response,
#sensors div#no_recorder,
#system-info { display: none; }
#precheck-popup { 
  display: none; 
  background-color: #446B71;
  padding: 25px 15px 15px 15px;
  box-shadow: 0px 0px 20px #999;
  position: absolute;
  right: 271px;
  font-size: 16px;
  line-height: 1.22;
  /*
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99999;
  */
}
#precheck-popup button, #presystem_check_response  { margin-top: 10px; }
#precheck-popup p#presystem_check_response { display: none; }
#precheck-popup p.instructions { 
  color: wheat; 
  white-space:pre;
}
#precheck-popup h3 { 
  position: absolute;
  top: 7px;
  color: lemonchiffon; 
  font-size: 17px;
}
#precheck-popup ul { 
  list-style-type: none;
  margin-top: 10px; 
}
a.close {
  display: inline-block;
  position: relative;
  background-color: black;
  color: wheat;
  float: right;
  margin: -25px -15px;
  padding: 4px;
}
img.btn_close {
  float: right;
  margin: -28px -28px 0 0;
}

#sensors .infobox-right { 
  position: absolute;
  top: 0;
  right: 0;
  width: 256px;
  border: solid #E0E0E0;
  border-width: 0 0 0 2px;
}

#sensors .infobox-left {
  position: absolute;
  top: 0;
  right: 268px;
  width: 268px;
  border: solid #E0E0E0;
  border-width: 0 2px 0 2px;
}

#system-info, #system-info-button { background: rgba(0,0,0,0.85); border: 1px solid #909090; bottom: 4px; box-shadow: 0 0 5px 1px #000; font-size: 13px; left: 6px; padding: 5px; position: absolute; text-shadow: 0 0 2px #000; }
#system-info .label { display: inline-block; margin-right: 4px; text-align: right; width: 80px; }
#system-info .value { display: inline-block; font-weight: bold; width: 150px; }
.ok { background-color: #008800; }
/*.ok:after { 
  content: "\e81a";
  font-family: fontello;
  position: absolute;
  top: 1px;
  left: 1px;
  color: #005500;
}*/
.fail { background-color: #CC0000; }
/*.fail:after { 
  content: "\e823";
  font-family: fontello;
  position: absolute;
  top: 1px;
  left: 1px;
  color: #880000;
}*/
.warn { background-color: #aa6800;}
.inactive { background-color: #404040; }

button#night-mode {
  position: absolute;
  top: 5px;
  right: 560px;
  padding: 3px;
}
button#pre-check {
  position: absolute;
  top: 5px;
  right: 670px;
  padding: 3px;
}
button#non-em {
  position: absolute;
  top: 5px;
  right: 800px;
  padding: 3px;
}
button#non-em.active {
  background-color: red;
  color: white;
}

button#reload-video {
  position: absolute;
  bottom: 4px;
  left: 102px;
  /*float: left; margin: 6px 0 0 8px;*/
}

@media (max-width : 1024px) {
  #main .tab-elog { right: 0; }
}

@media (max-height : 600px) {
  #sensors div .value-field { font-size: 19px; }

  #sensors div.GPS { text-align: left; }
  #sensors div.GPS svg { display: none; }
  #sensors div.GPS .value-field { margin-left: 2px; }
  #sensors div.GPS .speed { margin-left: 2px; }
  #sensors div.GPS .heading { margin-left: 40px; }
}

button[disabled] {
  opacity: 0.5;
}
